<body>
    <div class="row">
        <div class="column">
          <div class="card">
            <img src="img1.jpg" alt="Jane" style="width:100%">
            <div class="container">
              <h2>Jane Doe</h2>
              <p class="title">staff</p>
              <p>working on second floor</p> 
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="img2.jpg" alt="Mike" style="width:100%">
            <div class="container">
              <h2>Mike Ross</h2>
              <p class="title">staff</p>
              <p>working on first floor</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="img3.jpg" alt="John" style="width:100%">
            <div class="container">
              <h2>John Doe</h2>
              <p class="title">nurse</p>
              <p>working on third floor</p>
              <p><button class="button">Contact</button></p>
            </div>
          </div>
        </div>
      </div>






</body>