{% extends 'employes/employtemp.html' %}
{% block body%}

<h2>Profile</h2>
<img src="" width="40px" height="40px" alt="">
<br>
<br>
<table class=" table table-hover">
    {% for i in data %}
    <tr>
<td class="table-secondary"><b>Name :</b>   {{i.sname}}</td>

</tr>
<tr>
<td class="table-secondary"><b>Place :</b>  {{i.splace}}</td>

</tr>
<tr>
<td class="table-secondary"><b>Pin code:</b>  {{i.spin}}</td>

</tr>
<tr>
    <td class="table-secondary"><b>Post:</b>  {{i.spost}}</td>
 
    </tr>
<tr>
    <td class="table-secondary"><b>Department:</b>   {{i.DEPID}}</td>
   
    </tr>
    <tr>
        <td class="table-secondary"><b>Gender:</b>    {{i.sgender}}</td>
      
        </tr>
</tr>
<tr>
<td class="table-secondary"><b>year of expreies :</b>    {{i.xperience}}</td>

</tr>
<td class="table-secondary"><b>Email :</b>  {{i.email}}</td>

</tr>

    <tr>
        <td class="table-secondary"><b> Phone no :</b>  {{i.phone}}</td>
      
        </tr>
        {% endfor %}
</table>
{%endblock%}

