<body>
    <table cellspacing="2"  cellpadding="5" border="0">
        <tr>
   <td> <label for="username">Username:</label></td>
<td>  <input type="text" id="username" name="username"></td>
        </tr>
<br>
<tr>
<td>  <label for="pass">Password :</label></td>
<td>  <input type="password" id="pass" name="password"
           minlength="8" required></td>
</tr>
<tr>
<td><input type="submit" value="login"><td>
</tr>
    </table>

    <a href="/hospial/admin_add_user_load/"> New User</a>
</form>
</body>