<body>
    <form>

<h2>Profile</h2>
<img src="/source/profile.jpg" width="40px" height="40px" alt="">
<br>
<br>
<table cellspacing="2"  cellpadding="5" border="0">
<tr>
<td >Name :</td>

</tr>
<tr>
<td >Address :</td>

</tr>

<tr>
    <td>Emial:</td>
 
    </tr>
<tr>
    <td>Contact:</td>
    <tr>
        <td> <textarea name="message" rows="10" cols="30">prescription</textarea>
        </tr>
        <tr>    
            <td>  <input type="submit" value="upload"></td> 
        </tr>
</table>
</form>
</body>

