<body>
    <input type="text"  placeholder="Name" ><button>Search</button>
       <table border="1" >
           <tr>

       <th>No</th>
       <th>Name</th>
       <th>Image</th>
       <th>Address</th>

       <th>Emial</th>
       <th>Contact</th>
       </tr>
       <tr>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
        
           <td></td>
           <td></td>
           <td><a href="/doctor/update-view.html">update</a></td>
        
       
       </tr>
       </body>