{% extends 'doctor/doctortemp.html' %}
{% block body%}

<h2>Profile</h2>
<div class="text-center">
<img class="rounded" src="{{i.dimage}}" width="200px" height="200px" alt="profile">
</div>
<br>
<br>
<table class=" table table-hover">
   
    <tr>
<td class="table-secondary"><b>Name :</b>   {{i.doctorname}}</td>

</tr>
<tr>
<td class="table-secondary"><b>Place :</b>  {{i.dplace}}</td>

</tr>
<tr>
<td class="table-secondary"><b>Pin code:</b>  {{i.dpin}}</td>

</tr>
<tr>
    <td class="table-secondary"><b>Post:</b>  {{i.dpost}}</td>
 
    </tr>
<tr>
    <td class="table-secondary"><b>Department:</b>   {{i.DEPID}}</td>
   
    </tr>
    <tr>
        <td class="table-secondary"><b>Gender:</b>    {{i.dgender}}</td>
      
        </tr>
</tr>
<tr>
<td class="table-secondary"><b>year of expreies :</b>    {{i.experience}}</td>

</tr>
<tr>
    <td class="table-secondary"><b>licence :</b>    {{i.licence}}</td>
    
    </tr>
<td class="table-secondary"><b>Email :</b>  {{i.email}}</td>

</tr>

    <tr>
        <td class="table-secondary"><b> Phone no :</b>  {{i.phone}}</td>
      
        </tr>
        
</table>
{%endblock%}

