<body>
    <form>

<h2>Profile</h2>
<img src="/source/profile.jpg" width="40px" height="40px" alt="">
<br>
<br>
<table cellspacing="2"  cellpadding="5" border="0">
<tr>
<td >Name :</td>

</tr>
<tr>
<td >Place :</td>

</tr>
<tr>
<td>Pin code:</td>

</tr>
<tr>
    <td>Post:</td>
 
    </tr>
<tr>
    <td>Department:</td>
   
    </tr>
    <tr>
        <td>Gender:</td>
      
        </tr>
</tr>
<tr>
<td >year of expreies :</td>

</tr>
<td >Emial :</td>

</tr>
<tr>
    <td >licenes:</td>
    
    </tr>
    <tr>
        <td > Phone no :</td>
      
        </tr>
</table>
</form>
</body>

