{% extends 'admin/admintemp.html' %}
{% block body%}
<form method="post" action="/hospial/admin_add_shedule_load_post/" >
    <table class="table table-hover">
<tr>
<td>Doctor name:</td>
  <td><select name="select">
            {% for i in data %}
                <option value="{{ i.id }}">{{ i.doctorname }}</option>
            {% endfor %}
          </select></td>
</tr>   
<br>
<tr>
<td>  <label for="Day">Day :</label></td>
<td>  <input  class="form-control" type="date" name="date" readonly></td>
</tr>
<tr>
    <td>  <label for="from">from:</label></td>
    <td>  <input class="form-control" type="time" name="from" readonly></td>
    </tr>
    <tr>
        <td>  <label for="To">To :</label></td>
        <td>  <input class="form-control" type="time" name="to" readonly></td>
        </tr>
        
<tr>
<td><input class="btn btn-primary ml-3" type="submit" value="ADD"><td>
</tr>
    </table>
</form>
{%endblock%}