<body>
<form method="post" action="/hospial/admin_add_shedule_load_post/" >
    <table cellspacing="2"  cellpadding="5" border="0">
<tr>
<td>Doctor name:</td>
  <td><select name="select">
            {% for i in data %}
                <option value="{{ i.id }}">{{ i.doctorname }}</option>
            {% endfor %}
          </select></td>
</tr>   
<br>
<tr>
<td>  <label for="Day">Day :</label></td>
<td>  <input type="date" name="date"></td>
</tr>
<tr>
    <td>  <label for="from">from:</label></td>
    <td>  <input type="time" name="from"></td>
    </tr>
    <tr>
        <td>  <label for="To">To :</label></td>
        <td>  <input type="time" name="to"></td>
        </tr>
        
<tr>
<td><input type="submit" value="ADD"><td>
</tr>
    </table>
</form>
</body>