<body>
    <form>

<h2>Add Staff detailes</h2>
<table cellspacing="2"  cellpadding="5" border="0">
<tr>
<td >Name :</td>
<td><input type="text" placeholder="Enter Doctor Name" class="tb" name="staffname" /></td>
</tr>
<tr>
<td >Place :</td>
<td><input type="text" placeholder="place" class="td" name="place" /></td>
</tr>
<tr>
<td>Pin code:</td>
<td><input type="number" placeholder="Pin code" class="tb" name="pin"/></td>
</tr>
<tr>
    <td>Post:</td>
    <td><input type="text" placeholder="Post" class="tb" name="post" /></td>
    </tr>
<tr>
    <tr>
        <td>Department</td>
        <td><select name="select">
            <option value="Department">Choose</option>
            <option value="#">#</option>
            <option value="#">#</option>
            <option value="#">#</option>
          </select></td>
        </tr>
<td >Gender :</td>
<td><input type="radio" id="html" name="fav_language" value="HTML">
    <label for="html">male</label>
    <input type="radio" name="fav_language" value="CSS">
    <label>female</label>
    <input type="radio" name="fav_language" value="CSS">
    <label>other</label>
</td>
</tr>
<tr>
<td >year of expreies :</td>
<td><input type="number" name="exp"/></td>
</tr>
<td >Emial :</td>
<td><input type="email" name="email" required></td>
</tr>
    <tr>
        <td > Phone no :</td>
        <td><input type="number" name="no"/></td>
        </tr>
        <td >Image:</td>
        <td><input type="file" name="image"/></td>
        </tr>

<tr>
<td></td>
<td>
<input type="reset"/>
<input type="button" value="ADD"></td>
</tr>
</table>
</form>
</body>

