<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td><a href="/hospial/admin_add_shedule_load/">admin shedule add</a></td>
         <td><a href="/hospial/admin_add_doctor_load/">add doctor</a></td>
         <td><a href="/hospial/admin_add_staff_load/">add staff</a></td>
        <td><a href="/hospial/admin_add_dept_load/">add dept</a></td>
         <td><a href="/hospial/admin_adminviewdept_load/">admin view dept</a></td>
         <td><a href="/hospial/admin_edit_dept/">admi edit dept</a></td>
         <td><a href="/hospial/admin_edit_staff/">edit staff</a></td>
         <td><a href="/hospial/admin_edit_doctor/">edit doctor</a></td>
         <td><a href="/hospial/admin_edit_schedule/">edit schedule</a></td>
         <td><a href="/hospial/admin_leave_req/">leave req</a></td>
         <td><a href="/hospial/admin_view_attends/">view attendas</a></td>
         <td><a href="/hospial/admin_view_doctor/">view doctor</a></td>
         <td><a href="/hospial/admin_view_shedule/">view shedule</a></td>
         <td><a href="/hospial/admin_view_staff/">view staff</a></td>
         <td><a href="/hospial/admin_view_attends/">view attendas</a></td>
        <td><a href="/hospial/login_load/">log out</a></td>




    </tr>
</table>

</body>
</html>