{% extends 'admin/admintemp.html' %}
{% block body%}
<form method="post" action="/hospial/admin_update_dept/" >
    {% csrf_token %}
    <table class="table table-hover">
        <tr>
            <td>Department Name:<input type="hidden" value={{data.id}} name='depid'></td>
    <td><input class="form-control" type="text" id="username" name="username" readonly value={{data.deptname}}></td>
   </tr>

    <tr>
        <td> Description</td>
        <td><textarea name="message" rows="10" cols="30" >{{data.des}}</textarea></td>
    </tr>
        <tr>    
    <td colspan="2" align="center">  <input type="submit" value="ADD"></td>
</tr>
    </table>
    </form>
    {%endblock%}