<body>
    <table cellspacing="2"  cellpadding="5" border="0">
<tr>
<td>Doctor name:</td>
<td><select>
    <option value="Department">Select</option>
    <option value="#">#</option>
    <option value="#">#</option>
    <option value="#">#</option>
  </select></td>
</tr>   
<br>
<tr>
<td>  <label for="Day">Day :</label></td>
<td>  <input type="date"></td>
</tr>
<tr>
    <td>  <label for="from">from:</label></td>
    <td>  <input type="date"></td>
    </tr>
    <tr>
        <td>  <label for="To">To :</label></td>
        <td>  <input type="date"></td>
        </tr>
        
<tr>
<td><input type="submit" value="ADD"><td>
</tr>
    </table>
</form>
</body>