{% extends 'admin/admintemp.html' %}
{% block body%}
    <form method="post" action="/hospial/admin_add_shedule_load_post/" >
        <table class="table table-hover">
    <tr>
    <td>Doctor name:<input class="form-control" type="hidden" value={{data.id}} name='sch' readonly></td>
      <td><select name="select">
        <option value="{{ data.DOCID.id }}">{{ data.DOCID.doctorname }}</option>

        {% for i in data2 %} 
                    <option value="{{ i.id }}">{{ i.doctorname }}</option>
                {% endfor %} 
              </select></td>
    </tr>   
    <br>
    <tr>
    <td>  <label for="Day">Day :</label></td>
    <td>  <input class="form-control" type="text" name="date" value={{data.day}}></td>
    </tr>
    <tr>
        <td>  <label for="from">from:</label></td>
        <td>  <input class="form-control" type="text" name="from" value={{data.fromtime}}></td>
        </tr>
        <tr>
            <td>  <label for="To">To :</label></td>
            <td>  <input class="form-control" type="text" name="to" value={{data.totime}}></td>
            </tr>
            
    <tr>
    <td><input class="btn btn-primary" type="submit" value="ADD"><td>
    </tr>
        </table>
    </form>
    {%endblock%}