{% extends 'admin/admintemp.html' %}
{% block body%}
    <input class="btn btn-secondary" type="text" placeholder="Doctor nmae"><button>Search</button>
    <table class=" table table-hover" >
        <tr>
    <th>No</th>
    <th>date</th>
    <th>Staff Name</th>
    <th>description</th>
    <th>from</th>
    <th>To</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a>Approvel</a></td>
        <td><a>Reject</a></td>
       
    
    
    </tr>
{%endblock%}