{% extends 'admin/admintemp.html' %}
{% block body%}
    <form method="post" action="/hospial/admin_view__req_serach/">
    <table  class="table table-striped  table table-hover" >
        <tr>
            <td><input  type="date" value="" name="n1"><input class="btn btn-primary mb-2" type="submit" value="search"></td>
        </tr>
        <tr>
    <th>No</th>
    <th>from</th>
    <th>to</th>
    <th>reason</th>
    <th>request date</th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{i.id}}</td>
       
        <td>{{i.leave_need_date}}</td>
        <td>{{i.to}}</td>
        <td>{{i.des}}</td>
        <td>{{i.request_date}}</td>
       
        <td><a href="/hospiaL//{{i.id}}">Approvel</a></td>
        <td><a href="/hospial//{{i.id}}">Reject</a></td>
    </tr>
    {% endfor %}
    </table> 
{%endblock%}