<body>
    <input type="text"  placeholder="Name" ><button>Search</button>
       <table border="1" >
           <tr>
       <th>No</th>
       <th>Name</th>
       <th>Image</th>
       <th>Address</th>
       <th>Department</th>
       <th>expreies</th>
       <th>Contact</th>
       </tr>
       <tr>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td><a>edit</a></td>
           <td><a>delect</a></td>
       
       </tr>
       </body>