{% extends 'admin/admintemp.html' %}
{% block body%}
    <label>From</label>
    <input class="form-control" type="date">
    <label>To</label>
    <input class="form-control"  type="date"><button>Go</button>
       <table class="table table-hover" >
           <tr>
       <th>No</th>
       <th>date</th>
       <th>staffname</th>
       <th>chekin time</th>
       <th>check out</th>
     
       </tr>
       <tr>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           <td></td>
           
       </tr>
       {%endblock%}