<body>
<h2><u>Staff detailes</u></h2>
<form method="post" action="/hospial/admin_view_staff_serach/">
       <table border="1" >
        <tr>
    <td><input type="text" value="" name="n2" placeholder="Searc by Staff name"><input type="submit" name="btn" value="search"></td>
        <td>choose dept<select name="select">
             {% for i in dept %}
              <option value="{{ i.id }}">{{ i.deptname }}</option>
            {% endfor %}

        </select>
        <input type="submit" name="btn" value="go">
        </td>
</tr>
       <th>No</th>
       <th>Name</th>
       <th>Image</th>
       <th>Address</th>
       <th>Department</th>
       <th>expreies</th>
       <th>Contact</th>
       </tr>
            {% for i in data %}
       <tr>
           <td>{{ i.id }}</td>
           <td>{{ i.sname }}</td>
           <td></td>
           <td>{{ i.splace }}<br>{{ i.spin }}<br>{{ i.spost }}</td>
           <td>{{ i.DEPID.deptname }}</td>
           <td>{{ i.xperience }}</td>
           <td>{{ i.phone }}</td>
           <td><a href="/hospial/admin_edit_staff/{{i.id}}" >edit</a></td>
           <td><a href="/hospial/admin_delect_staff/{{ i.id }}">delect</a></td>
       
       </tr>
            {% endfor %}
       </table>
       </body>