<body>
<form method="post" action="/hospial/admin_user_load_post/">
<table border="0" >
<caption>Registration form</caption>
<tr>
<th>Enter your first name</th>
<td><input type="text" name="fn" id="fn1" maxlength="10" title="enter your first name" placeholder="enter your first name" required/></td>
</tr>
<tr>
<th>Enter your last name</th>
<td><input type="text" name='f2'/></td>
</tr>
<tr>
<th>Enter your password</th>
<td><input type="password" name="pass"/></td>
</tr>
<tr>
<th>Enter your mobile</th>
<td><input type="number" name="no"/></td>
</tr>
<th>Enter your email</th>
<td><input type="email" name="mail"/></td>
</tr>

<th>Select your gender</th>
<td>
male<input type="radio" name="g" value="m"/>
female<input type="radio" name="g" value="f"/>
</td>


</tr>
<tr>
<th>Select your DOB</th>
<td><input type="date"  name="dob"/></td>
</tr>
<tr>
<th>Upload your pic</th>
<td><input type="file" name="dp"/></td>
</tr>
<tr>
    <td >Place :</td>
    <td><input type="text" placeholder="place" class="td" name="place" /></td>
    </tr>
    <tr>
    <td>Pin code:</td>
    <td><input type="number" placeholder="Pin code" class="tb" name="pin"/></td>
    </tr>
    <tr>
        <td>Post:</td>
        <td><input type="text" placeholder="Post" class="tb" name="post" /></td>
        </tr>

<tr>
<td colspan="2" align="center"><input type="submit" value="sign up"/>
<input type="reset" value="Reset Data"/>
</td>
</tr>
</table>
</form>
</body>

